// Navigation code here

//.container .intro nav {
 //   .centerflex(); 
   // flex-direction: column; 
    //background-color: #f6f6f6; 
   // margin: auto; 
    
//}

//.container .intro nav #banner h1 {
  //  .centerflex(); 
  //  font-size: 4rem; 
  //  padding: 2px; 
//}

//.container .intro nav #banner a {
    //    justify-content: center;
     //   justify-content: space-around;
      //  font-size: 1.8rem;
      //  font-weight: bold;
      //  color: #22283A; 
       // padding: 20px; 
       // margin: 20px; 
//



nav div {
  .centerflex(); 
  justify-content: space-around; 
  padding: 20px;  
  background-color: #f6f6f6;
}

nav div h1 {
  font-size: 4rem; 
  color: #22283A; 

}

nav div a {
  font-size: 1.8rem; 
  font-weight: bold; 
  color: #22283A; 
  background-color: #f6f6f6; 
}

